<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
        - Metodların yer değişimi için aşağıdaki konfigrasyon yöntemi kullanılabilir
    -->

    <bean id="aclass" class="metoddegisme.AClass">
        <replaced-method name="doSomething" replacer="replacer">
            <arg-type>String</arg-type>
        </replaced-method>
    </bean>

    <bean id="replacer" class="metoddegisme.ReplacerClass"/>

</beans>